
**/clientdb.xml
**/RemoteSystemsTempFiles/
**/.recommenders/
**/.metadata/
**/Servers/
**/.classpath
**/.settings/
**/.factorypath
**/.project
**/target/

#Intellij
.idea/

# Log file
*.log

*.class


# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar


